                                                                        * {
                                                                        margin: 0;
                                                                        padding: 0;
                                                                    }
                                                                    
                                                                    body {
                                                                        background-color: #ffffff;
                                                                        color: black;
                                                                    }
                                                                    
                                                                    .flex-container1 {
                                                                        display: flex;
                                                                        background-color: gray;
                                                                        flex-direction: row;
                                                                        justify-content: end;
                                                                        margin: 5px;
                                                                    }
                                                                    
                                                                    .flex-itemsb {
                                                                        color: whitesmoke;
                                                                        font-weight: bolder;
                                                                        background-color: gray;
                                                                        display: flex;
                                                                        border: 1px solid gray;
                                                                        width: fit-content;
                                                                        padding: 5px;
                                                                    }
                                                                    
                                                                    .flex-container2 {
                                                                        border: 15px solid blue;
                                                                        display: flex;
                                                                        background-color: green;
                                                                        justify-content: center;
                                                                        height: 200px;
                                                                        margin: 30px 100px;
                                                                    }
                                                                    
                                                                    .flex-itemsc {
                                                                        font-weight: bolder;
                                                                        display: flex;
                                                                        align-items: center;
                                                                    }
                                                                    
                                                                    @media screen and (max-width: 922px) {
                                                                        body {
                                                                            background-color: olive;
                                                                        }
                                                                        .flex-container2 {
                                                                            font-size: 20px;
                                                                        }
                                                                    }
                                                                    
                                                                    @media screen and (max-width:768px) {
                                                                        body {
                                                                            background-color: orange;
                                                                            color: black;
                                                                        }
                                                                        .flex-container1 {
                                                                            display: flex;
                                                                            background-color: gray flex-direction: row;
                                                                            justify-content: center;
                                                                            margin: 5px;
                                                                            justify-content: space-evenly;
                                                                        }
                                                                        .flex-container2 {
                                                                            border: 15px solid blue;
                                                                            display: flex;
                                                                            background-color: green;
                                                                            justify-content: center;
                                                                            font-size: 20px;
                                                                            color: black;
                                                                        }
                                                                        .flex-itemsb {
                                                                            color: black;
                                                                        }
                                                                        @media screen and (max-width:600px) {
                                                                            body {
                                                                                background-color: purple;
                                                                                color: black;
                                                                            }
                                                                            .flex-container1 {
                                                                                display: flex;
                                                                                background-color: aqua;
                                                                                flex-direction: column;
                                                                                justify-content: center;
                                                                                margin: 5px;
                                                                                align-items: center;
                                                                            }
                                                                            .flex-container2 {
                                                                                border: 15px solid red;
                                                                                display: flex;
                                                                                background-color: purple;
                                                                                justify-content: center;
                                                                                height: 200px;
                                                                            }
                                                                            .flex-itemsb {
                                                                                border: none;
                                                                                color: black;
                                                                                background-color: aqua;
                                                                                display: flex;
                                                                                align-items: center;
                                                                            }
                                                                        }